body {
    background-color: black;
}

.navigationMenu {
  overflow: hidden;
  background-color: #000000;
  padding-left: 10px;
}

.navigationMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: Verdana;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.navigationMenu a:hover {
  background-color: #ddd;
  color: black;
}

.navigationMenu a.active {
  background-color: #000000;
  color: white;
}

.navigationMenu .icon {
  display: none;
}

.name{
  padding: 40px;
  padding-left: 100px;
  padding-top: 350px;
  width: 70%;
  float: left;
}
  
.container {
  column-count: 2;
  column-gap: 20px;
}

.photo{
  padding-top: 100px;
  padding-right: 200px;
  float: right;
}

img{
  border-radius: 10%;
  width: 300px;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 50px;
}

h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 30px;
}

 
